@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700');

$sans-serif: 'Montserrat', sans-serif;

$blue: #52B7F6;
$cyan: #14F5F6;

html {
  font-size: 17px;
}
body {
  font-family: $sans-serif;
  font-weight: 200;
}
section {
  height: 100vh;
  position: relative;
  display:flex;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0,0,0,.25);
}
.container {
  width: 100%;
  max-width: 992px;
  padding: 1rem;
}
p {
  line-height: 22px;
  margin-bottom: 2rem;
}
.logo {
  margin-bottom: 2rem;
}
.button {
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 0 10px 20px rgba(0,0,0,.25);
  border-radius: 100px;
  font-size: 18px;
  padding: 13px;
  text-decoration: none;
  display:block;
  text-align: center;
  letter-spacing: 3px;
  &.is-dark {
    color: #fff;
    background: #333;
  }
}
.is-blue {
  color: #fff;
  background: linear-gradient(to bottom, $blue 0%, $cyan 96%);
}


#hero {
  clip-path: polygon(0 0, 100% 0, 100% 95vh, 0 100%);
  z-index: 1;
}
